<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<type name="Magento\CatalogSearch\Block\Result">
		<plugin name="Mitac_CustomCMS::setPriceSortBy" type="Mitac\CustomCMS\Plugin\Search\Block\Result" sortOrder="100" />
	</type>
	<!-- Plugin Cross sell -->
	<type name="Magezon\Builder\Data\Elements">
		<arguments>
			<argument name="elements" xsi:type="array">
				<item name="product_crosssell_products" xsi:type="array">
					<item name="name" xsi:type="string" translate="true">
						Crosssell Products
					</item>
					<item name="class" xsi:type="string">
						Magezon\ProductPageBuilder\Data\Element
					</item>
					<item name="template" xsi:type="string">
						Magezon_ProductPageBuilder::element/crosssell_products.phtml
					</item>
					<item name="block" xsi:type="string">
						Magezon\ProductPageBuilder\Block\Product\Element
					</item>
					<item name="sortOrder" xsi:type="number">
						538
					</item>
					<item name="icon" xsi:type="string">
						mgz-icon mgz-icon-product
					</item>
					<item name="icon_styles" xsi:type="array">
						<item name="background-color" xsi:type="string">
							#ff9900
						</item>
					</item>
					<item name="group" xsi:type="string">
						product
					</item>
					<item name="area" xsi:type="string">
						product
					</item>
				</item>
			</argument>
		</arguments>
	</type>
	<!-- Plugin Mio icon -->
	<type name="Magezon\Builder\Model\CompositeConfigProvider">
		<arguments>
			<argument name="configProviders" xsi:type="array">
				<item name="fonts" xsi:type="array">
					<item name="mioicon" xsi:type="array">
						<item name="label" xsi:type="string" translate="true">
							Mio icon
						</item>
						<item name="value" xsi:type="string" translate="true">
							mioicon
						</item>
						<item name="class" xsi:type="string">
							Mitac\CustomCMS\Model\Magezon\Builder\Source\Mioiconic
						</item>
					</item>
				</item>
			</argument>
		</arguments>
	</type>
	<!-- Override origin block -->
	<preference for="Magento\Catalog\Block\Category\View" type="Mitac\CustomCMS\Block\Rewrite\Category\View" />
	<preference for="Magento\Catalog\Block\Product\ListProduct" type="Mitac\CustomCMS\Block\Rewrite\Product\ListProduct" />
	<preference for="Magento\Catalog\Block\Product\View" type="Mitac\CustomCMS\Block\Rewrite\Product\View" />
	<!-- 添加promo banner position options -->
	<type name="Amasty\PromoBanners\Helper\Data">
		<plugin name="Mitac_CustomCMS_PromoBanners_Helper_Data" type="Mitac\CustomCMS\Plugin\Amasty\PromoBanners\Helper\Data" sortOrder="10" disabled="false" />
	</type>
	<type name="Amasty\PromoBanners\Model\Source\Position">
		<plugin name="Mitac_CustomCMS_PromoBanners_Model_Position" type="Mitac\CustomCMS\Plugin\Amasty\PromoBanners\Model\Source\Position" sortOrder="10" disabled="false" />
	</type>

	<type name="Magento\Framework\Pricing\Render">
		<plugin name="control_display_product_price" type="Mitac\CustomCMS\Plugin\Pricing\Render" sortOrder="10" disabled="false" />
	</type>

	<!-- remove  phone tooltip -->
	<type name="Magento\Checkout\Block\Onepage">
		<plugin name="RemovePhoneTooltip" type="Mitac\CustomCMS\Plugin\Block\Checkout\Index" sortOrder="100" disabled="false" />
	</type>
</config>
