.product-item-photo .mgz-productlabels,
.fotorama__stage .mgz-productlabels {
  position: absolute;
  z-index: 99;
}
.catalog-product-view .product.media .mgz-productlabels .mgz-productlabels_wrapper,
.product-item-photo .mgz-productlabels .mgz-productlabels_wrapper {
  position: relative;
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
  z-index: 9;
}
.catalog-product-view .product.media .mgz-productlabels .mgz-productlabels_wrapper a:hover .product-item-photo .mgz-productlabels .mgz-productlabels_wrapper a:hover {
  text-decoration: none;
}
.catalog-product-view .product.media .productlabels-conent,
.mgz-productlabels .mgz-productlabels_wrapper .productlabels-conent {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}
.mgz-productlabels {
  display: none;
}
.mgz-productlabels .mgz-productlabels_wrapper {
  position: relative;
  text-align: center;
}
a.mgz-productlabels-link {
  color: inherit;
}
