<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::content">
					<resource id="PluginCompany_ContactForms::general" sortOrder="10" title="Custom Contact Forms">
						<resource id="PluginCompany_ContactForms::manage_form" sortOrder="0" title="Manage Forms"/>
						<resource id="PluginCompany_ContactForms::manage_entry" sortOrder="10" title="Manage Form Submissions"/>
						<resource id="PluginCompany_ContactForms::system_config" sortOrder="20" title="System Configuration"/>
					</resource>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
