<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Nwdthemes_Revslider" setup_version="6.6.7">
        <sequence>
            <module name="Nwdthemes_Base"/>
        </sequence>
    </module>
</config>