<?xml version="1.0"?>
<!--
/**
 * Copyright © Magefan (support@magefan.com). All rights reserved.
 * Please visit Magefan.com for license details (https://magefan.com/end-user-license-agreement).
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <mftranslation>
            <general>
                <mfmodulep>TranslationPlus</mfmodulep>
                <mftype>0</mftype>
                <flush_cache_on_translation>0</flush_cache_on_translation>
                <ignore_gws_permissions>1</ignore_gws_permissions>
                <disable_translation_config_params>0</disable_translation_config_params>
                <date_time/>
            </general>
        </mftranslation>
    </default>
</config>
