<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_cart_update_items_before">
        <observer name="weltpixel_cart_update_items_before" instance="WeltPixel\GA4\Observer\CartUpdateItemsBefore" />
    </event>
    <event name="checkout_cart_update_items_after">
        <observer name="weltpixel_cart_update_items_after" instance="WeltPixel\GA4\Observer\CartUpdateItemsAfter" />
    </event>
    <event name="checkout_cart_update_item_complete">
        <observer name="weltpixel_cart_update_itemoptions_after" instance="WeltPixel\GA4\Observer\CartUpdateItemOptionsAfter" />
    </event>
    <event name="customer_save_after_data_object">
        <observer name="weltpixel_ga4_signup_event" instance="WeltPixel\GA4\Observer\ServerSide\Events\SignupObserver" />
    </event>
    <event name="customer_login">
        <observer name="weltpixel_ga4_login_event" instance="WeltPixel\GA4\Observer\ServerSide\Events\LoginObserver" />
    </event>
</config>
