<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="MitacHomepageUiDataProviderImageFormModifierPool" type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="image_data" xsi:type="array">
                    <item name="class" xsi:type="string">Mitac\Homepage\Ui\DataProvider\Image\Form\Modifier\PageblockData</item>
                    <item name="sortOrder" xsi:type="number">10</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Mitac\Homepage\Model\Block\DataProvider">
        <arguments>
            <argument name="pool" xsi:type="object">MitacHomepageUiDataProviderImageFormModifierPool</argument>
        </arguments>
    </type>
</config>