<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Mitac_Homepage::Homepage"
             title="Home Page"
             module="Mitac_Homepage"
             parent="Magento_Backend::content"
             sortOrder="60"
             resource="Mitac_Homepage::Homepage"
        />
        <add id="Mitac_Homepage::banner_menu"
             title="Page Banner"
             module="Mitac_Homepage"
             sortOrder="40"
             resource="Mitac_Homepage::banner_gird"
             parent="Mitac_Homepage::Homepage"
             action="homepage/Banner"
        />
    </menu>
</config>
