<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="mitacmanagement" translate="label" sortOrder="10">
            <label>Mitac Management</label>
        </tab>

        <section id="mdt" translate="label" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>MDT Customer Setting</label>
            <tab>mitacmanagement</tab>
            <resource>Magento_Backend::mitacfrontend</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>API Configuration</label>
                <field id="url" translate="label comment" type="text" sortOrder="10" showInDefault="1">
                    <label>MDT API URL</label>
                    <validate>required-entry</validate>
                    <comment>Schema and domain only without slash after</comment>
                </field>
                <field id="api_type" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1">
                    <label>MDT API Type</label>
                    <source_model>Mitac\SystemAPI\Model\Config\Source\Apitype</source_model>
                    <validate>required-entry</validate>
                </field>
                <field id="api_auth_path" translate="label comment" type="text" sortOrder="30" showInDefault="1">
                    <label>MDT API Auth Path</label>
                    <validate>required-entry</validate>
                    <comment>No schema and domain needed, only path required</comment>
                </field>
                <field id="endpoint_prefix" translate="label comment" type="text" sortOrder="40" showInDefault="1">
                    <label>MDT API Endpoint Prefix</label>
                    <comment>Leave it blank if no prefix or start with slash but no end</comment>
                </field>
                <field id="account" translate="label" type="text" sortOrder="50" showInDefault="1">
                    <label>MDT API Account</label>
                    <validate>required-entry</validate>
                </field>
                <field id="password" translate="label" type="text" sortOrder="60" showInDefault="1">
                    <label>MDT API Password</label>
                    <validate>required-entry</validate>
                </field>
                <field id="api_from_system" translate="label" type="text" sortOrder="70" showInDefault="1">
                    <label>MDT API From System</label>
                    <validate>required-entry</validate>
                </field>
                <field id="api_lang" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>MDT API Language Code</label>
                    <validate>required-entry</validate>
                </field>
                <field id="api_region" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>MDT API Region Code</label>
                    <validate>required-entry</validate>
                </field>
                <field id="webhook_token" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1">
                    <label>Webhook Token</label>
                </field>
                <field id="webhook_enabled" translate="label" type="select" sortOrder="110" showInDefault="1" showInWebsite="1">
                    <label>Enable Webhook</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <requires>
                        <field id="webhook_token"/>
                    </requires>
                </field>
            </group>
            <group id="sso_setting" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Single Sign On Setting</label>
                <field id="provider_url" translate="label comment" type="text" sortOrder="10" showInDefault="1">
                    <label>SSO API URL</label>
                    <validate>required-entry validate-url</validate>
                    <depends>
                        <field id="sso_enabled">1</field>
                    </depends>
                </field>
                <field id="sso_client_id" translate="label" type="text" sortOrder="20" showInDefault="1">
                    <label>SSO Client Id</label>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="sso_enabled">1</field>
                    </depends>
                </field>
                <field id="sso_client_secret" translate="label" type="text" sortOrder="30" showInDefault="1">
                    <label>SSO Client Secret</label>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="sso_enabled">1</field>
                    </depends>
                </field>
                <field id="m2_login_path" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Client Login Path</label>
                    <validate>required-entry</validate>
                    <comment>Path only without slash in the front</comment>
                    <!-- <depends>
                        <field id="sso_enabled">1</field>
                    </depends> -->
                </field>
                <field id="m2_logout_redirect_path" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Client Logout Redirect Path</label>
                    <validate>required-entry</validate>
                    <comment>Path only without slash in the front</comment>
                    <!-- <depends>
                        <field id="sso_enabled">1</field>
                    </depends> -->
                </field>
                <field id="sso_enabled" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="1">
                    <label>Enable SSO Setting</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Depends on default store setting</comment>
                </field>
                <depends>
                    <field id="mdt/general/api_type">ID4</field>
                </depends>
            </group>
        </section>

        <section id="coupon_setting" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Coupon</label>
            <tab>mitacmanagement</tab>
            <resource>Magento_Backend::mitacfrontend</resource>
            <group id="coupon_settings" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Coupon Settings</label>
                <field id="minqty" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Minimum inventory</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                    <comment></comment>
                </field>
                <field id="admin_email" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Admin Email</label>
                    <comment></comment>
                </field>
                <field id="admin_error_template" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Admin Error Email</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <comment>Notify Admin of Low Existing Emails</comment>
                </field>
                <field id="ruletype1" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Type 1 Rule Id</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                    <comment>Trade In Rule</comment>
                </field>
                <field id="trade_in_type1_coupon_template" translate="label comment" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Type 1 Coupon Email</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <comment>Trade In Page Form Coupon Send</comment>
                </field>
                <field id="trade_in_type1_orde_template" translate="label comment" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Type 1 Order Confirmation Email</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <comment>Payment Complete on Trade In Order</comment>
                </field>
                <field id="ruletype2" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Type 2 Rule Id</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                    <comment>Trade In Rule</comment>
                </field>
                <field id="trade_in_type2_coupon_template" translate="label comment" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Type 2 Coupon Email</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <comment>Trade In Page Form Coupon Send</comment>
                </field>
                <field id="trade_in_type2_orde_template" translate="label comment" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Type 2 Order Confirmation Email</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <comment>Payment Complete on Trade In Order</comment>
                </field>
            </group>
        </section>

        <section id="key" translate="label" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Key Setting</label>
            <tab>mitacmanagement</tab>
            <resource>Magento_Backend::mitacfrontend</resource>
            <group id="key_general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Generate Key System</label>
                <field id="key_choose_category" translate="label" type="multiselect" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Category</label>
                    <source_model>Mitac\SystemAPI\Model\Config\Source\Category</source_model>
                    <comment>Choose category to using key system.</comment>
                </field>
                <field id="key_template" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Key Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <comment></comment>
                </field>
            </group>
            <group id="camera_general" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Generate Safety Camera System</label>
                <field id="key_choose_category" translate="label" type="multiselect" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Category</label>
                    <source_model>Mitac\SystemAPI\Model\Config\Source\Category</source_model>
                    <comment>Choose category to using key system.</comment>
                </field>
                <field id="safety_template" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Safety Camera Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <comment></comment>
                </field>
                <field id="camera_key_url" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Safety Camera Key Server WSDL</label>
                    <validate>required-entry</validate>
                    <comment></comment>
                </field>
                <field id="camera_key_account" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Safety Camera Key Server User</label>
                    <validate>required-entry</validate>
                    <comment></comment>
                </field>
                <field id="camera_key_password" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Safety Camera Key Server Password</label>
                    <validate>required-entry</validate>
                    <comment></comment>
                </field>
            </group>
            <group id="general" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Generate System</label>
                <field id="short_adminemail" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Notify Quantity short Admin Email</label>
                    <validate>required-entry validate-emails</validate>
                </field>
                <field id="notify_template" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Notify Key Low Stock Email</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <comment></comment>
                </field>
            </group>
        </section>

        <section id="reiveworder" translate="label" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Order Review</label>
            <tab>mitacmanagement</tab>
            <resource>Magento_Backend::mitacfrontend</resource>
            <group id="setting" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Order Review</label>
                <field id="review_amount" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Order review amount</label>
                    <comment></comment>
                </field>
                <field id="review_qty" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Order review physical QTY</label>
                    <comment></comment>
                </field>
                <field id="review_email" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Send Emails To </label>
                    <comment></comment>
                </field>
                <field id="review_template" translate="label comment" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Admin Review Notice Email</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <comment></comment>
                </field>
            </group>
        </section>

        <section id="StatusReview" translate="label" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Status Review</label>
            <tab>mitacmanagement</tab>
            <resource>Mitac_Order::config_status</resource>
            <group id="Base" translate="label" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                <field id="issreview" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" type="select">
                    <label>Enable Review</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="reviewday" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Review Day</label>
                    <validate>required-entry</validate>
                </field>
                <field id="api_sendemail" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Notify Email Sender</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                </field>
                <field id="api_adminemail" translate="label" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Notify Admin Email</label>
                    <validate>required-entry validate-emails</validate>
                </field>
                <field id="notify_email" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Notify Status Review Email</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
            </group>
        </section>

        <section id="sales_email" translate="label" sortOrder="170" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="repair_confirmation" translate="label" type="text" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Repair Confirmation</label>
                <field id="enabled" translate="label" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="identity" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Repair Confirmation Email Sender</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                </field>
                <field id="template" translate="label comment" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Repair Confirmation Email Template</label>
                    <comment>Email template chosen based on theme fallback when "Default" option is selected.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <field id="copy_to" translate="label comment" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Send Repair Confirmation Email Copy To</label>
                    <comment>Comma-separated.</comment>
                    <validate>validate-emails</validate>
                </field>
                <field id="copy_method" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Send Repair Confirmation Email Copy Method</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Method</source_model>
                </field>
            </group>
        </section>

        <section id="cart_setting" translate="label" sortOrder="180" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Cart and Customer Setting</label>
            <tab>mitacmanagement</tab>
            <resource>Magento_Backend::mitacfrontend</resource>
            <group id="setting" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <field id="enablecart" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" type="select">
                    <label>Enable Frontend Cart</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="disablecust" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" type="select">
                    <label>Disable Frontend Customer Login</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
        
    </system>
</config>
