<?xml version="1.0"?>
<!--
/**
 * Copyright © Magefan (support@magefan.com). All rights reserved.
 * Please visit Magefan.com for license details (https://magefan.com/end-user-license-agreement).
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Magefan_Translation::search" title="Search and Translate" translate="title" module="Magefan_Translation" parent="Magefan_Translation::elements" sortOrder="20" action="translationplus/translation" resource="Magefan_Translation::search"/>
    </menu>
</config>
