:root {
    --header-bg-color: #f05a1e;
}
:root[theme-color="green"] {
    --header-bg-color: #579e31;
}
.navigation .level0.active > .level-top {
    border-color: var(--header-bg-color)!important;
}
.header .logo {
    mask: var(--mask-image);
    background: var(--header-bg-color);
    mask-repeat: no-repeat;
    mask-size: cover;
}
.header .logo img{
    mix-blend-mode: multiply;
}