.mgz-builder .mgz-navbar .magezon-builder-directive-preview {
  width: 60px;
}
.mgz-builder .mgz-navbar .magezon-builder-directive-preview .mgz-dropdown-list {
  width: 220px;
}
.mgz-builder .mgz-navbar .magezon-builder-directive-preview .mgz-dropdown-list a {
  font-size: 14px;
  padding: 0 15px;
  text-align: left;
  width: auto;
  height: 42px;
  line-height: 42px;
}
