@charset "UTF-8";
@font-face {
  font-family: "entypo";
  src: url('../fonts/entypo.woff?1538564144') format('woff'), url('../fonts/entypo.eot?1538564144') format('embedded-opentype'), url('../fonts/entypo.ttf?1538564144') format('truetype'), url('../fonts/entypo.svg?1538564144') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* line 16, ../scss/icons/_entypo.scss */
.ientypo-note:before {
  content: "\266a";
}

/* line 21, ../scss/icons/_entypo.scss */
.ientypo-note-beamed:before {
  content: "\266b";
}

/* line 26, ../scss/icons/_entypo.scss */
.ientypo-music:before {
  content: "🎵";
}

/* line 31, ../scss/icons/_entypo.scss */
.ientypo-search:before {
  content: "🔍";
}

/* line 36, ../scss/icons/_entypo.scss */
.ientypo-flashlight:before {
  content: "🔦";
}

/* line 41, ../scss/icons/_entypo.scss */
.ientypo-mail:before {
  content: "\2709";
}

/* line 46, ../scss/icons/_entypo.scss */
.ientypo-heart:before {
  content: "\2665";
}

/* line 51, ../scss/icons/_entypo.scss */
.ientypo-heart-empty:before {
  content: "\2661";
}

/* line 56, ../scss/icons/_entypo.scss */
.ientypo-star:before {
  content: "\2605";
}

/* line 61, ../scss/icons/_entypo.scss */
.ientypo-star-empty:before {
  content: "\2606";
}

/* line 66, ../scss/icons/_entypo.scss */
.ientypo-user:before {
  content: "👤";
}

/* line 71, ../scss/icons/_entypo.scss */
.ientypo-users:before {
  content: "👥";
}

/* line 76, ../scss/icons/_entypo.scss */
.ientypo-user-add:before {
  content: "\e700";
}

/* line 81, ../scss/icons/_entypo.scss */
.ientypo-video:before {
  content: "🎬";
}

/* line 86, ../scss/icons/_entypo.scss */
.ientypo-picture:before {
  content: "🌄";
}

/* line 91, ../scss/icons/_entypo.scss */
.ientypo-camera:before {
  content: "📷";
}

/* line 96, ../scss/icons/_entypo.scss */
.ientypo-layout:before {
  content: "\268f";
}

/* line 101, ../scss/icons/_entypo.scss */
.ientypo-menu:before {
  content: "\2630";
}

/* line 106, ../scss/icons/_entypo.scss */
.ientypo-check:before {
  content: "\2713";
}

/* line 111, ../scss/icons/_entypo.scss */
.ientypo-cancel:before {
  content: "\2715";
}

/* line 116, ../scss/icons/_entypo.scss */
.ientypo-cancel-circled:before {
  content: "\2716";
}

/* line 121, ../scss/icons/_entypo.scss */
.ientypo-cancel-squared:before {
  content: "\274e";
}

/* line 126, ../scss/icons/_entypo.scss */
.ientypo-plus:before {
  content: "\2b";
}

/* line 131, ../scss/icons/_entypo.scss */
.ientypo-plus-circled:before {
  content: "\2795";
}

/* line 136, ../scss/icons/_entypo.scss */
.ientypo-plus-squared:before {
  content: "\229e";
}

/* line 141, ../scss/icons/_entypo.scss */
.ientypo-minus:before {
  content: "\2d";
}

/* line 146, ../scss/icons/_entypo.scss */
.ientypo-minus-circled:before {
  content: "\2796";
}

/* line 151, ../scss/icons/_entypo.scss */
.ientypo-minus-squared:before {
  content: "\229f";
}

/* line 156, ../scss/icons/_entypo.scss */
.ientypo-help:before {
  content: "\2753";
}

/* line 161, ../scss/icons/_entypo.scss */
.ientypo-help-circled:before {
  content: "\e704";
}

/* line 166, ../scss/icons/_entypo.scss */
.ientypo-info:before {
  content: "\2139";
}

/* line 171, ../scss/icons/_entypo.scss */
.ientypo-info-circled:before {
  content: "\e705";
}

/* line 176, ../scss/icons/_entypo.scss */
.ientypo-back:before {
  content: "🔙";
}

/* line 181, ../scss/icons/_entypo.scss */
.ientypo-home:before {
  content: "\2302";
}

/* line 186, ../scss/icons/_entypo.scss */
.ientypo-link:before {
  content: "🔗";
}

/* line 191, ../scss/icons/_entypo.scss */
.ientypo-attach:before {
  content: "📎";
}

/* line 196, ../scss/icons/_entypo.scss */
.ientypo-lock:before {
  content: "🔒";
}

/* line 201, ../scss/icons/_entypo.scss */
.ientypo-lock-open:before {
  content: "🔓";
}

/* line 206, ../scss/icons/_entypo.scss */
.ientypo-eye:before {
  content: "\e70a";
}

/* line 211, ../scss/icons/_entypo.scss */
.ientypo-tag:before {
  content: "\e70c";
}

/* line 216, ../scss/icons/_entypo.scss */
.ientypo-bookmark:before {
  content: "🔖";
}

/* line 221, ../scss/icons/_entypo.scss */
.ientypo-bookmarks:before {
  content: "📑";
}

/* line 226, ../scss/icons/_entypo.scss */
.ientypo-flag:before {
  content: "\2691";
}

/* line 231, ../scss/icons/_entypo.scss */
.ientypo-thumbs-up:before {
  content: "👍";
}

/* line 236, ../scss/icons/_entypo.scss */
.ientypo-thumbs-down:before {
  content: "👎";
}

/* line 241, ../scss/icons/_entypo.scss */
.ientypo-download:before {
  content: "📥";
}

/* line 246, ../scss/icons/_entypo.scss */
.ientypo-upload:before {
  content: "📤";
}

/* line 251, ../scss/icons/_entypo.scss */
.ientypo-upload-cloud:before {
  content: "\e711";
}

/* line 256, ../scss/icons/_entypo.scss */
.ientypo-reply:before {
  content: "\e712";
}

/* line 261, ../scss/icons/_entypo.scss */
.ientypo-reply-all:before {
  content: "\e713";
}

/* line 266, ../scss/icons/_entypo.scss */
.ientypo-forward:before {
  content: "\27a6";
}

/* line 271, ../scss/icons/_entypo.scss */
.ientypo-quote:before {
  content: "\275e";
}

/* line 276, ../scss/icons/_entypo.scss */
.ientypo-code:before {
  content: "\e714";
}

/* line 281, ../scss/icons/_entypo.scss */
.ientypo-export:before {
  content: "\e715";
}

/* line 286, ../scss/icons/_entypo.scss */
.ientypo-pencil:before {
  content: "\270e";
}

/* line 291, ../scss/icons/_entypo.scss */
.ientypo-feather:before {
  content: "\2712";
}

/* line 296, ../scss/icons/_entypo.scss */
.ientypo-print:before {
  content: "\e716";
}

/* line 301, ../scss/icons/_entypo.scss */
.ientypo-retweet:before {
  content: "\e717";
}

/* line 306, ../scss/icons/_entypo.scss */
.ientypo-keyboard:before {
  content: "\2328";
}

/* line 311, ../scss/icons/_entypo.scss */
.ientypo-comment:before {
  content: "\e718";
}

/* line 316, ../scss/icons/_entypo.scss */
.ientypo-chat:before {
  content: "\e720";
}

/* line 321, ../scss/icons/_entypo.scss */
.ientypo-bell:before {
  content: "🔔";
}

/* line 326, ../scss/icons/_entypo.scss */
.ientypo-attention:before {
  content: "\26a0";
}

/* line 331, ../scss/icons/_entypo.scss */
.ientypo-alert:before {
  content: "💥";
}

/* line 336, ../scss/icons/_entypo.scss */
.ientypo-vcard:before {
  content: "\e722";
}

/* line 341, ../scss/icons/_entypo.scss */
.ientypo-address:before {
  content: "\e723";
}

/* line 346, ../scss/icons/_entypo.scss */
.ientypo-location:before {
  content: "\e724";
}

/* line 351, ../scss/icons/_entypo.scss */
.ientypo-map:before {
  content: "\e727";
}

/* line 356, ../scss/icons/_entypo.scss */
.ientypo-direction:before {
  content: "\27a2";
}

/* line 361, ../scss/icons/_entypo.scss */
.ientypo-compass:before {
  content: "\e728";
}

/* line 366, ../scss/icons/_entypo.scss */
.ientypo-cup:before {
  content: "\2615";
}

/* line 371, ../scss/icons/_entypo.scss */
.ientypo-trash:before {
  content: "\e729";
}

/* line 376, ../scss/icons/_entypo.scss */
.ientypo-doc:before {
  content: "\e730";
}

/* line 381, ../scss/icons/_entypo.scss */
.ientypo-docs:before {
  content: "\e736";
}

/* line 386, ../scss/icons/_entypo.scss */
.ientypo-doc-landscape:before {
  content: "\e737";
}

/* line 391, ../scss/icons/_entypo.scss */
.ientypo-doc-text:before {
  content: "📄";
}

/* line 396, ../scss/icons/_entypo.scss */
.ientypo-doc-text-inv:before {
  content: "\e731";
}

/* line 401, ../scss/icons/_entypo.scss */
.ientypo-newspaper:before {
  content: "📰";
}

/* line 406, ../scss/icons/_entypo.scss */
.ientypo-book-open:before {
  content: "📖";
}

/* line 411, ../scss/icons/_entypo.scss */
.ientypo-book:before {
  content: "📕";
}

/* line 416, ../scss/icons/_entypo.scss */
.ientypo-folder:before {
  content: "📁";
}

/* line 421, ../scss/icons/_entypo.scss */
.ientypo-archive:before {
  content: "\e738";
}

/* line 426, ../scss/icons/_entypo.scss */
.ientypo-box:before {
  content: "📦";
}

/* line 431, ../scss/icons/_entypo.scss */
.ientypo-rss:before {
  content: "\e73a";
}

/* line 436, ../scss/icons/_entypo.scss */
.ientypo-phone:before {
  content: "📞";
}

/* line 441, ../scss/icons/_entypo.scss */
.ientypo-cog:before {
  content: "\2699";
}

/* line 446, ../scss/icons/_entypo.scss */
.ientypo-tools:before {
  content: "\2692";
}

/* line 451, ../scss/icons/_entypo.scss */
.ientypo-share:before {
  content: "\e73c";
}

/* line 456, ../scss/icons/_entypo.scss */
.ientypo-shareable:before {
  content: "\e73e";
}

/* line 461, ../scss/icons/_entypo.scss */
.ientypo-basket:before {
  content: "\e73d";
}

/* line 465, ../scss/icons/_entypo.scss */
.ientypo-cart:before {
  content: "\e73d";
}

/* line 470, ../scss/icons/_entypo.scss */
.ientypo-bag:before {
  content: "👜";
}

/* line 475, ../scss/icons/_entypo.scss */
.ientypo-calendar:before {
  content: "📅";
}

/* line 480, ../scss/icons/_entypo.scss */
.ientypo-login:before {
  content: "\e740";
}

/* line 485, ../scss/icons/_entypo.scss */
.ientypo-logout:before {
  content: "\e741";
}

/* line 490, ../scss/icons/_entypo.scss */
.ientypo-mic:before {
  content: "🎤";
}

/* line 495, ../scss/icons/_entypo.scss */
.ientypo-mute:before {
  content: "🔇";
}

/* line 500, ../scss/icons/_entypo.scss */
.ientypo-sound:before {
  content: "🔊";
}

/* line 505, ../scss/icons/_entypo.scss */
.ientypo-volume:before {
  content: "\e742";
}

/* line 510, ../scss/icons/_entypo.scss */
.ientypo-clock:before {
  content: "🕔";
}

/* line 515, ../scss/icons/_entypo.scss */
.ientypo-hourglass:before {
  content: "\23f3";
}

/* line 520, ../scss/icons/_entypo.scss */
.ientypo-lamp:before {
  content: "💡";
}

/* line 525, ../scss/icons/_entypo.scss */
.ientypo-light-down:before {
  content: "🔅";
}

/* line 530, ../scss/icons/_entypo.scss */
.ientypo-light-up:before {
  content: "🔆";
}

/* line 535, ../scss/icons/_entypo.scss */
.ientypo-adjust:before {
  content: "\25d1";
}

/* line 540, ../scss/icons/_entypo.scss */
.ientypo-block:before {
  content: "🚫";
}

/* line 545, ../scss/icons/_entypo.scss */
.ientypo-resize-full:before {
  content: "\e744";
}

/* line 550, ../scss/icons/_entypo.scss */
.ientypo-resize-small:before {
  content: "\e746";
}

/* line 555, ../scss/icons/_entypo.scss */
.ientypo-popup:before {
  content: "\e74c";
}

/* line 560, ../scss/icons/_entypo.scss */
.ientypo-publish:before {
  content: "\e74d";
}

/* line 565, ../scss/icons/_entypo.scss */
.ientypo-window:before {
  content: "\e74e";
}

/* line 570, ../scss/icons/_entypo.scss */
.ientypo-arrow-combo:before {
  content: "\e74f";
}

/* line 575, ../scss/icons/_entypo.scss */
.ientypo-down-circled:before {
  content: "\e758";
}

/* line 580, ../scss/icons/_entypo.scss */
.ientypo-left-circled:before {
  content: "\e759";
}

/* line 585, ../scss/icons/_entypo.scss */
.ientypo-right-circled:before {
  content: "\e75a";
}

/* line 590, ../scss/icons/_entypo.scss */
.ientypo-up-circled:before {
  content: "\e75b";
}

/* line 595, ../scss/icons/_entypo.scss */
.ientypo-down-open:before {
  content: "\e75c";
}

/* line 600, ../scss/icons/_entypo.scss */
.ientypo-left-open:before {
  content: "\e75d";
}

/* line 605, ../scss/icons/_entypo.scss */
.ientypo-right-open:before {
  content: "\e75e";
}

/* line 610, ../scss/icons/_entypo.scss */
.ientypo-up-open:before {
  content: "\e75f";
}

/* line 615, ../scss/icons/_entypo.scss */
.ientypo-down-open-mini:before {
  content: "\e760";
}

/* line 620, ../scss/icons/_entypo.scss */
.ientypo-left-open-mini:before {
  content: "\e761";
}

/* line 625, ../scss/icons/_entypo.scss */
.ientypo-right-open-mini:before {
  content: "\e762";
}

/* line 630, ../scss/icons/_entypo.scss */
.ientypo-up-open-mini:before {
  content: "\e763";
}

/* line 635, ../scss/icons/_entypo.scss */
.ientypo-down-open-big:before {
  content: "\e764";
}

/* line 640, ../scss/icons/_entypo.scss */
.ientypo-left-open-big:before {
  content: "\e765";
}

/* line 645, ../scss/icons/_entypo.scss */
.ientypo-right-open-big:before {
  content: "\e766";
}

/* line 650, ../scss/icons/_entypo.scss */
.ientypo-up-open-big:before {
  content: "\e767";
}

/* line 655, ../scss/icons/_entypo.scss */
.ientypo-down:before {
  content: "\2b07";
}

/* line 660, ../scss/icons/_entypo.scss */
.ientypo-left:before {
  content: "\2b05";
}

/* line 665, ../scss/icons/_entypo.scss */
.ientypo-right:before {
  content: "\27a1";
}

/* line 670, ../scss/icons/_entypo.scss */
.ientypo-up:before {
  content: "\2b06";
}

/* line 675, ../scss/icons/_entypo.scss */
.ientypo-down-dir:before {
  content: "\25be";
}

/* line 680, ../scss/icons/_entypo.scss */
.ientypo-left-dir:before {
  content: "\25c2";
}

/* line 685, ../scss/icons/_entypo.scss */
.ientypo-right-dir:before {
  content: "\25b8";
}

/* line 690, ../scss/icons/_entypo.scss */
.ientypo-up-dir:before {
  content: "\25b4";
}

/* line 695, ../scss/icons/_entypo.scss */
.ientypo-down-bold:before {
  content: "\e4b0";
}

/* line 700, ../scss/icons/_entypo.scss */
.ientypo-left-bold:before {
  content: "\e4ad";
}

/* line 705, ../scss/icons/_entypo.scss */
.ientypo-right-bold:before {
  content: "\e4ae";
}

/* line 710, ../scss/icons/_entypo.scss */
.ientypo-up-bold:before {
  content: "\e4af";
}

/* line 715, ../scss/icons/_entypo.scss */
.ientypo-down-thin:before {
  content: "\2193";
}

/* line 720, ../scss/icons/_entypo.scss */
.ientypo-left-thin:before {
  content: "\2190";
}

/* line 725, ../scss/icons/_entypo.scss */
.ientypo-right-thin:before {
  content: "\2192";
}

/* line 730, ../scss/icons/_entypo.scss */
.ientypo-up-thin:before {
  content: "\2191";
}

/* line 735, ../scss/icons/_entypo.scss */
.ientypo-ccw:before {
  content: "\27f2";
}

/* line 740, ../scss/icons/_entypo.scss */
.ientypo-cw:before {
  content: "\27f3";
}

/* line 745, ../scss/icons/_entypo.scss */
.ientypo-arrows-ccw:before {
  content: "🔄";
}

/* line 750, ../scss/icons/_entypo.scss */
.ientypo-level-down:before {
  content: "\21b3";
}

/* line 755, ../scss/icons/_entypo.scss */
.ientypo-level-up:before {
  content: "\21b0";
}

/* line 760, ../scss/icons/_entypo.scss */
.ientypo-shuffle:before {
  content: "🔀";
}

/* line 765, ../scss/icons/_entypo.scss */
.ientypo-loop:before {
  content: "🔁";
}

/* line 770, ../scss/icons/_entypo.scss */
.ientypo-switch:before {
  content: "\21c6";
}

/* line 775, ../scss/icons/_entypo.scss */
.ientypo-play:before {
  content: "\25b6";
}

/* line 780, ../scss/icons/_entypo.scss */
.ientypo-stop:before {
  content: "\25a0";
}

/* line 785, ../scss/icons/_entypo.scss */
.ientypo-pause:before {
  content: "\2389";
}

/* line 790, ../scss/icons/_entypo.scss */
.ientypo-record:before {
  content: "\26ab";
}

/* line 795, ../scss/icons/_entypo.scss */
.ientypo-to-end:before {
  content: "\23ed";
}

/* line 800, ../scss/icons/_entypo.scss */
.ientypo-to-start:before {
  content: "\23ee";
}

/* line 805, ../scss/icons/_entypo.scss */
.ientypo-fast-forward:before {
  content: "\23e9";
}

/* line 810, ../scss/icons/_entypo.scss */
.ientypo-fast-backward:before {
  content: "\23ea";
}

/* line 815, ../scss/icons/_entypo.scss */
.ientypo-progress-0:before {
  content: "\e768";
}

/* line 820, ../scss/icons/_entypo.scss */
.ientypo-progress-1:before {
  content: "\e769";
}

/* line 825, ../scss/icons/_entypo.scss */
.ientypo-progress-2:before {
  content: "\e76a";
}

/* line 830, ../scss/icons/_entypo.scss */
.ientypo-progress-3:before {
  content: "\e76b";
}

/* line 835, ../scss/icons/_entypo.scss */
.ientypo-target:before {
  content: "🎯";
}

/* line 840, ../scss/icons/_entypo.scss */
.ientypo-palette:before {
  content: "🎨";
}

/* line 845, ../scss/icons/_entypo.scss */
.ientypo-list:before {
  content: "\e005";
}

/* line 850, ../scss/icons/_entypo.scss */
.ientypo-list-add:before {
  content: "\e003";
}

/* line 855, ../scss/icons/_entypo.scss */
.ientypo-signal:before {
  content: "📶";
}

/* line 860, ../scss/icons/_entypo.scss */
.ientypo-trophy:before {
  content: "🏆";
}

/* line 865, ../scss/icons/_entypo.scss */
.ientypo-battery:before {
  content: "🔋";
}

/* line 870, ../scss/icons/_entypo.scss */
.ientypo-back-in-time:before {
  content: "\e771";
}

/* line 875, ../scss/icons/_entypo.scss */
.ientypo-monitor:before {
  content: "💻";
}

/* line 880, ../scss/icons/_entypo.scss */
.ientypo-mobile:before {
  content: "📱";
}

/* line 885, ../scss/icons/_entypo.scss */
.ientypo-network:before {
  content: "\e776";
}

/* line 890, ../scss/icons/_entypo.scss */
.ientypo-cd:before {
  content: "💿";
}

/* line 895, ../scss/icons/_entypo.scss */
.ientypo-inbox:before {
  content: "\e777";
}

/* line 900, ../scss/icons/_entypo.scss */
.ientypo-install:before {
  content: "\e778";
}

/* line 905, ../scss/icons/_entypo.scss */
.ientypo-globe:before {
  content: "🌎";
}

/* line 910, ../scss/icons/_entypo.scss */
.ientypo-cloud:before {
  content: "\2601";
}

/* line 915, ../scss/icons/_entypo.scss */
.ientypo-cloud-thunder:before {
  content: "\26c8";
}

/* line 920, ../scss/icons/_entypo.scss */
.ientypo-flash:before {
  content: "\26a1";
}

/* line 925, ../scss/icons/_entypo.scss */
.ientypo-moon:before {
  content: "\263d";
}

/* line 930, ../scss/icons/_entypo.scss */
.ientypo-flight:before {
  content: "\2708";
}

/* line 935, ../scss/icons/_entypo.scss */
.ientypo-paper-plane:before {
  content: "\e79b";
}

/* line 940, ../scss/icons/_entypo.scss */
.ientypo-leaf:before {
  content: "🍂";
}

/* line 945, ../scss/icons/_entypo.scss */
.ientypo-lifebuoy:before {
  content: "\e788";
}

/* line 950, ../scss/icons/_entypo.scss */
.ientypo-mouse:before {
  content: "\e789";
}

/* line 955, ../scss/icons/_entypo.scss */
.ientypo-briefcase:before {
  content: "💼";
}

/* line 960, ../scss/icons/_entypo.scss */
.ientypo-suitcase:before {
  content: "\e78e";
}

/* line 965, ../scss/icons/_entypo.scss */
.ientypo-dot:before {
  content: "\e78b";
}

/* line 970, ../scss/icons/_entypo.scss */
.ientypo-dot-2:before {
  content: "\e78c";
}

/* line 975, ../scss/icons/_entypo.scss */
.ientypo-dot-3:before {
  content: "\e78d";
}

/* line 980, ../scss/icons/_entypo.scss */
.ientypo-brush:before {
  content: "\e79a";
}

/* line 985, ../scss/icons/_entypo.scss */
.ientypo-magnet:before {
  content: "\e7a1";
}

/* line 990, ../scss/icons/_entypo.scss */
.ientypo-infinity:before {
  content: "\221e";
}

/* line 995, ../scss/icons/_entypo.scss */
.ientypo-erase:before {
  content: "\232b";
}

/* line 1000, ../scss/icons/_entypo.scss */
.ientypo-chart-pie:before {
  content: "\e751";
}

/* line 1005, ../scss/icons/_entypo.scss */
.ientypo-chart-line:before {
  content: "📈";
}

/* line 1010, ../scss/icons/_entypo.scss */
.ientypo-chart-bar:before {
  content: "📊";
}

/* line 1015, ../scss/icons/_entypo.scss */
.ientypo-chart-area:before {
  content: "🔾";
}

/* line 1020, ../scss/icons/_entypo.scss */
.ientypo-tape:before {
  content: "\2707";
}

/* line 1025, ../scss/icons/_entypo.scss */
.ientypo-graduation-cap:before {
  content: "🎓";
}

/* line 1030, ../scss/icons/_entypo.scss */
.ientypo-language:before {
  content: "\e752";
}

/* line 1035, ../scss/icons/_entypo.scss */
.ientypo-ticket:before {
  content: "🎫";
}

/* line 1040, ../scss/icons/_entypo.scss */
.ientypo-water:before {
  content: "💦";
}

/* line 1045, ../scss/icons/_entypo.scss */
.ientypo-droplet:before {
  content: "💧";
}

/* line 1050, ../scss/icons/_entypo.scss */
.ientypo-air:before {
  content: "\e753";
}

/* line 1055, ../scss/icons/_entypo.scss */
.ientypo-credit-card:before {
  content: "💳";
}

/* line 1060, ../scss/icons/_entypo.scss */
.ientypo-floppy:before {
  content: "💾";
}

/* line 1065, ../scss/icons/_entypo.scss */
.ientypo-clipboard:before {
  content: "📋";
}

/* line 1070, ../scss/icons/_entypo.scss */
.ientypo-megaphone:before {
  content: "📣";
}

/* line 1075, ../scss/icons/_entypo.scss */
.ientypo-database:before {
  content: "\e754";
}

/* line 1080, ../scss/icons/_entypo.scss */
.ientypo-drive:before {
  content: "\e755";
}

/* line 1085, ../scss/icons/_entypo.scss */
.ientypo-bucket:before {
  content: "\e756";
}

/* line 1090, ../scss/icons/_entypo.scss */
.ientypo-thermometer:before {
  content: "\e757";
}

/* line 1095, ../scss/icons/_entypo.scss */
.ientypo-key:before {
  content: "🔑";
}

/* line 1100, ../scss/icons/_entypo.scss */
.ientypo-flow-cascade:before {
  content: "\e790";
}

/* line 1105, ../scss/icons/_entypo.scss */
.ientypo-flow-branch:before {
  content: "\e791";
}

/* line 1110, ../scss/icons/_entypo.scss */
.ientypo-flow-tree:before {
  content: "\e792";
}

/* line 1115, ../scss/icons/_entypo.scss */
.ientypo-flow-line:before {
  content: "\e793";
}

/* line 1120, ../scss/icons/_entypo.scss */
.ientypo-flow-parallel:before {
  content: "\e794";
}

/* line 1125, ../scss/icons/_entypo.scss */
.ientypo-rocket:before {
  content: "🚀";
}

/* line 1130, ../scss/icons/_entypo.scss */
.ientypo-gauge:before {
  content: "\e7a2";
}

/* line 1135, ../scss/icons/_entypo.scss */
.ientypo-traffic-cone:before {
  content: "\e7a3";
}

/* line 1140, ../scss/icons/_entypo.scss */
.ientypo-cc:before {
  content: "\e7a5";
}

/* line 1145, ../scss/icons/_entypo.scss */
.ientypo-cc-by:before {
  content: "\e7a6";
}

/* line 1150, ../scss/icons/_entypo.scss */
.ientypo-cc-nc:before {
  content: "\e7a7";
}

/* line 1155, ../scss/icons/_entypo.scss */
.ientypo-cc-nc-eu:before {
  content: "\e7a8";
}

/* line 1160, ../scss/icons/_entypo.scss */
.ientypo-cc-nc-jp:before {
  content: "\e7a9";
}

/* line 1165, ../scss/icons/_entypo.scss */
.ientypo-cc-sa:before {
  content: "\e7aa";
}

/* line 1170, ../scss/icons/_entypo.scss */
.ientypo-cc-nd:before {
  content: "\e7ab";
}

/* line 1175, ../scss/icons/_entypo.scss */
.ientypo-cc-pd:before {
  content: "\e7ac";
}

/* line 1180, ../scss/icons/_entypo.scss */
.ientypo-cc-zero:before {
  content: "\e7ad";
}

/* line 1185, ../scss/icons/_entypo.scss */
.ientypo-cc-share:before {
  content: "\e7ae";
}

/* line 1190, ../scss/icons/_entypo.scss */
.ientypo-cc-remix:before {
  content: "\e7af";
}

/* line 1195, ../scss/icons/_entypo.scss */
.ientypo-github:before {
  content: "\f300";
}

/* line 1200, ../scss/icons/_entypo.scss */
.ientypo-github-circled:before {
  content: "\f301";
}

/* line 1205, ../scss/icons/_entypo.scss */
.ientypo-flickr:before {
  content: "\f303";
}

/* line 1210, ../scss/icons/_entypo.scss */
.ientypo-flickr-circled:before {
  content: "\f304";
}

/* line 1215, ../scss/icons/_entypo.scss */
.ientypo-vimeo:before {
  content: "\f306";
}

/* line 1220, ../scss/icons/_entypo.scss */
.ientypo-vimeo-circled:before {
  content: "\f307";
}

/* line 1225, ../scss/icons/_entypo.scss */
.ientypo-twitter:before {
  content: "\f309";
}

/* line 1230, ../scss/icons/_entypo.scss */
.ientypo-twitter-circled:before {
  content: "\f30a";
}

/* line 1235, ../scss/icons/_entypo.scss */
.ientypo-facebook:before {
  content: "\f30c";
}

/* line 1240, ../scss/icons/_entypo.scss */
.ientypo-facebook-circled:before {
  content: "\f30d";
}

/* line 1245, ../scss/icons/_entypo.scss */
.ientypo-facebook-squared:before {
  content: "\f30e";
}

/* line 1250, ../scss/icons/_entypo.scss */
.ientypo-gplus:before {
  content: "\f30f";
}

/* line 1255, ../scss/icons/_entypo.scss */
.ientypo-gplus-circled:before {
  content: "\f310";
}

/* line 1260, ../scss/icons/_entypo.scss */
.ientypo-pinterest:before {
  content: "\f312";
}

/* line 1265, ../scss/icons/_entypo.scss */
.ientypo-pinterest-circled:before {
  content: "\f313";
}

/* line 1270, ../scss/icons/_entypo.scss */
.ientypo-tumblr:before {
  content: "\f315";
}

/* line 1275, ../scss/icons/_entypo.scss */
.ientypo-tumblr-circled:before {
  content: "\f316";
}

/* line 1280, ../scss/icons/_entypo.scss */
.ientypo-linkedin:before {
  content: "\f318";
}

/* line 1285, ../scss/icons/_entypo.scss */
.ientypo-linkedin-circled:before {
  content: "\f319";
}

/* line 1290, ../scss/icons/_entypo.scss */
.ientypo-dribbble:before {
  content: "\f31b";
}

/* line 1295, ../scss/icons/_entypo.scss */
.ientypo-dribbble-circled:before {
  content: "\f31c";
}

/* line 1300, ../scss/icons/_entypo.scss */
.ientypo-stumbleupon:before {
  content: "\f31e";
}

/* line 1305, ../scss/icons/_entypo.scss */
.ientypo-stumbleupon-circled:before {
  content: "\f31f";
}

/* line 1310, ../scss/icons/_entypo.scss */
.ientypo-lastfm:before {
  content: "\f321";
}

/* line 1315, ../scss/icons/_entypo.scss */
.ientypo-lastfm-circled:before {
  content: "\f322";
}

/* line 1320, ../scss/icons/_entypo.scss */
.ientypo-rdio:before {
  content: "\f324";
}

/* line 1325, ../scss/icons/_entypo.scss */
.ientypo-rdio-circled:before {
  content: "\f325";
}

/* line 1330, ../scss/icons/_entypo.scss */
.ientypo-spotify:before {
  content: "\f327";
}

/* line 1335, ../scss/icons/_entypo.scss */
.ientypo-spotify-circled:before {
  content: "\f328";
}

/* line 1340, ../scss/icons/_entypo.scss */
.ientypo-qq:before {
  content: "\f32a";
}

/* line 1345, ../scss/icons/_entypo.scss */
.ientypo-instagrem:before {
  content: "\f32d";
}

/* line 1350, ../scss/icons/_entypo.scss */
.ientypo-dropbox:before {
  content: "\f330";
}

/* line 1355, ../scss/icons/_entypo.scss */
.ientypo-evernote:before {
  content: "\f333";
}

/* line 1360, ../scss/icons/_entypo.scss */
.ientypo-flattr:before {
  content: "\f336";
}

/* line 1365, ../scss/icons/_entypo.scss */
.ientypo-skype:before {
  content: "\f339";
}

/* line 1370, ../scss/icons/_entypo.scss */
.ientypo-skype-circled:before {
  content: "\f33a";
}

/* line 1375, ../scss/icons/_entypo.scss */
.ientypo-renren:before {
  content: "\f33c";
}

/* line 1380, ../scss/icons/_entypo.scss */
.ientypo-sina-weibo:before {
  content: "\f33f";
}

/* line 1385, ../scss/icons/_entypo.scss */
.ientypo-paypal:before {
  content: "\f342";
}

/* line 1390, ../scss/icons/_entypo.scss */
.ientypo-picasa:before {
  content: "\f345";
}

/* line 1395, ../scss/icons/_entypo.scss */
.ientypo-soundcloud:before {
  content: "\f348";
}

/* line 1400, ../scss/icons/_entypo.scss */
.ientypo-mixi:before {
  content: "\f34b";
}

/* line 1405, ../scss/icons/_entypo.scss */
.ientypo-behance:before {
  content: "\f34e";
}

/* line 1410, ../scss/icons/_entypo.scss */
.ientypo-google-circles:before {
  content: "\f351";
}

/* line 1415, ../scss/icons/_entypo.scss */
.ientypo-vkontakte:before {
  content: "\f354";
}

/* line 1420, ../scss/icons/_entypo.scss */
.ientypo-smashing:before {
  content: "\f357";
}

/* line 1425, ../scss/icons/_entypo.scss */
.ientypo-sweden:before {
  content: "\f601";
}

/* line 1430, ../scss/icons/_entypo.scss */
.ientypo-db-shape:before {
  content: "\f600";
}

/* line 1435, ../scss/icons/_entypo.scss */
.ientypo-logo-db:before {
  content: "\f603";
}

@font-face {
  font-family: "newmio";
  src: url('../fonts/newmio.woff?1538564145') format('woff'), url('../fonts/newmio.eot?1538564145') format('embedded-opentype'), url('../fonts/newmio.ttf?1538564145') format('truetype'), url('../fonts/newmio.svg?1538564145') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'newmio';
  font-display: block;
}


/* line 46, ../scss/mixin/_iconfont.scss */
.icon-left-open:before {
  content: "\e000";
}

/* line 46, ../scss/mixin/_iconfont.scss */
.icon-left-open-big:before {
  content: "\e001";
}

/* line 46, ../scss/mixin/_iconfont.scss */
.icon-left-open-mini:before {
  content: "\e002";
}

/* line 46, ../scss/mixin/_iconfont.scss */
.icon-down-open:before {
  content: "\e003";
}

/* line 46, ../scss/mixin/_iconfont.scss */
.icon-down-open-big:before {
  content: "\e004";
}

/* line 46, ../scss/mixin/_iconfont.scss */
.icon-down-open-mini:before {
  content: "\e005";
}

/* line 46, ../scss/mixin/_iconfont.scss */
.icon-right-open:before {
  content: "\e006";
}

/* line 46, ../scss/mixin/_iconfont.scss */
.icon-right-open-big:before {
  content: "\e007";
}

/* line 46, ../scss/mixin/_iconfont.scss */
.icon-right-open-mini:before {
  content: "\e008";
}

/* line 46, ../scss/mixin/_iconfont.scss */
.icon-up-open:before {
  content: "\e009";
}

/* line 46, ../scss/mixin/_iconfont.scss */
.icon-up-open-big:before {
  content: "\e00a";
}

/* line 46, ../scss/mixin/_iconfont.scss */
.icon-up-open-mini:before {
  content: "\e00b";
}

/* line 46, ../scss/mixin/_iconfont.scss */
.icon-a-down:before {
  content: "\e00c";
}

/* line 46, ../scss/mixin/_iconfont.scss */
.icon-a-left:before {
  content: "\e00d";
}

/* line 46, ../scss/mixin/_iconfont.scss */
.icon-a-right:before {
  content: "\e00e";
}

/* line 46, ../scss/mixin/_iconfont.scss */
.icon-a-up:before {
  content: "\e00f";
}

/* line 46, ../scss/mixin/_iconfont.scss */
.icon-asc:before {
  content: "\e010";
}

/* line 46, ../scss/mixin/_iconfont.scss */
.icon-cancel:before {
  content: "\e011";
}

/* line 46, ../scss/mixin/_iconfont.scss */
.icon-cart:before {
  content: "\e012";
}

/* line 46, ../scss/mixin/_iconfont.scss */
.icon-checkmark:before {
  content: "\e013";
}

/* line 46, ../scss/mixin/_iconfont.scss */
.icon-compare:before {
  content: "\e014";
}

/* line 46, ../scss/mixin/_iconfont.scss */
.icon-delete:before {
  content: "\e015";
}

/* line 46, ../scss/mixin/_iconfont.scss */
.icon-desc:before {
  content: "\e016";
}

/* line 46, ../scss/mixin/_iconfont.scss */
.icon-error:before {
  content: "\e017";
}

/* line 46, ../scss/mixin/_iconfont.scss */
.icon-fax:before {
  content: "\e018";
}

/* line 46, ../scss/mixin/_iconfont.scss */
.icon-fb:before {
  content: "\e019";
}

/* line 46, ../scss/mixin/_iconfont.scss */
.icon-filter:before {
  content: "\e01a";
}

/* line 46, ../scss/mixin/_iconfont.scss */
.icon-gplus:before {
  content: "\e01b";
}

/* line 46, ../scss/mixin/_iconfont.scss */
.icon-heart:before {
  content: "\e01c";
}

/* line 46, ../scss/mixin/_iconfont.scss */
.icon-location:before {
  content: "\e01d";
}

/* line 46, ../scss/mixin/_iconfont.scss */
.icon-mail:before {
  content: "\e01e";
}

/* line 46, ../scss/mixin/_iconfont.scss */
.icon-menu:before {
  content: "\e01f";
}

/* line 46, ../scss/mixin/_iconfont.scss */
.icon-no:before {
  content: "\e020";
}

/* line 46, ../scss/mixin/_iconfont.scss */
.icon-oepn-left:before {
  content: "\e021";
}

/* line 46, ../scss/mixin/_iconfont.scss */
.icon-open-down:before {
  content: "\e022";
}

/* line 46, ../scss/mixin/_iconfont.scss */
.icon-open-right:before {
  content: "\e023";
}

/* line 46, ../scss/mixin/_iconfont.scss */
.icon-open-up:before {
  content: "\e024";
}

/* line 46, ../scss/mixin/_iconfont.scss */
.icon-phone:before {
  content: "\e025";
}

/* line 46, ../scss/mixin/_iconfont.scss */
.icon-pin:before {
  content: "\e026";
}

/* line 46, ../scss/mixin/_iconfont.scss */
.icon-play:before {
  content: "\e027";
}

/* line 46, ../scss/mixin/_iconfont.scss */
.icon-read-more:before {
  content: "\e028";
}

/* line 46, ../scss/mixin/_iconfont.scss */
.icon-search:before {
  content: "\e029";
}

/* line 46, ../scss/mixin/_iconfont.scss */
.icon-shop:before {
  content: "\e02a";
}

/* line 46, ../scss/mixin/_iconfont.scss */
.icon-slick-next:before {
  content: "\e02b";
}

/* line 46, ../scss/mixin/_iconfont.scss */
.icon-slick-prev:before {
  content: "\e02c";
}

/* line 46, ../scss/mixin/_iconfont.scss */
.icon-twitter:before {
  content: "\e02d";
}

/* line 46, ../scss/mixin/_iconfont.scss */
.icon-update:before {
  content: "\e02e";
}

/* line 46, ../scss/mixin/_iconfont.scss */
.icon-user:before {
  content: "\e02f";
}

/* line 46, ../scss/mixin/_iconfont.scss */
.icon-vimeo:before {
  content: "\e030";
}

/* line 46, ../scss/mixin/_iconfont.scss */
.icon-vk:before {
  content: "\e031";
}

/* line 46, ../scss/mixin/_iconfont.scss */
.icon-yes:before {
  content: "\e032";
}

/* line 46, ../scss/mixin/_iconfont.scss */
.icon-youtube:before {
  content: "\e033";
}

/* line 46, ../scss/mixin/_iconfont.scss */
.icon-home:before {
  content: "\e034";
}

/* line 46, ../scss/mixin/_iconfont.scss */
.icon-mobile:before {
  content: "\e035";
}

/* line 46, ../scss/mixin/_iconfont.scss */
.icon-address:before {
  content: "\e036";
}

/* line 46, ../scss/mixin/_iconfont.scss */
.icon-bike:before {
  content: "\e037";
}

/* line 46, ../scss/mixin/_iconfont.scss */
.icon-car:before {
  content: "\e038";
}

/* line 46, ../scss/mixin/_iconfont.scss */
.icon-clock:before {
  content: "\e039";
}

/* line 46, ../scss/mixin/_iconfont.scss */
.icon-calendar:before {
  content: "\e03a";
}

/* line 46, ../scss/mixin/_iconfont.scss */
.icon-file:before {
  content: "\e03b";
}

/* line 46, ../scss/mixin/_iconfont.scss */
.icon-chat:before {
  content: "\e03c";
}

/* line 46, ../scss/mixin/_iconfont.scss */
.icon-download:before {
  content: "\e03d";
}

/* line 46, ../scss/mixin/_iconfont.scss */
.icon-upload:before {
  content: "\e03e";
}

/* line 46, ../scss/mixin/_iconfont.scss */
.icon-credit-card:before {
  content: "\e03f";
}

/* line 46, ../scss/mixin/_iconfont.scss */
.icon-pc:before {
  content: "\e040";
}

/* line 46, ../scss/mixin/_iconfont.scss */
.icon-laptop:before {
  content: "\e041";
}

/* line 46, ../scss/mixin/_iconfont.scss */
.icon-folder:before {
  content: "\e042";
}

/* line 46, ../scss/mixin/_iconfont.scss */
.icon-edit:before {
  content: "\e043";
}

/* line 46, ../scss/mixin/_iconfont.scss */
.icon-users:before {
  content: "\e044";
}

/* line 46, ../scss/mixin/_iconfont.scss */
.icon-tip:before {
  content: "\e045";
}

/* line 46, ../scss/mixin/_iconfont.scss */
.icon-undo:before {
  content: "\e046";
}

/* line 46, ../scss/mixin/_iconfont.scss */
.icon-redo:before {
  content: "\e047";
}

/* ============================================ *
 * General Styles
 * ============================================ */
/* line 42, ../scss/email-inline.scss */
body, table.body, th, h1, h2, h3, h4, h5, h6, td, p, strong {
  font-family: Verdana, Arial;
  font-weight: normal;
}

/* line 47, ../scss/email-inline.scss */
body {
  margin: 0;
  padding: 0;
  text-align: left;
  color: #333333;
  background-color: #fff;
}

/* line 55, ../scss/email-inline.scss */
body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 60, ../scss/email-inline.scss */
table {
  mso-table-lspace: 0pt;
  mso-table-rspace: 0pt;
}

/* line 65, ../scss/email-inline.scss */
img {
  -ms-interpolation-mode: bicubic;
}

/* line 68, ../scss/email-inline.scss */
body {
  background: #fff;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

/* line 74, ../scss/email-inline.scss */
table,
table td {
  border-collapse: collapse;
}

/* line 78, ../scss/email-inline.scss */
table td {
  vertical-align: top;
}

/* line 81, ../scss/email-inline.scss */
a {
  color: #f05a1e;
}

/* line 84, ../scss/email-inline.scss */
.cell-content.product-info,
.bundle-item,
.bundle-item-parent.product-info,
.bill-ship-to,
.method-information {
  text-align: left;
}

/* line 91, ../scss/email-inline.scss */
html,
#background-table {
  background-color: #fff;
}

/* line 95, ../scss/email-inline.scss */
#background-table {
  font-size: 12px;
  margin: 0 auto;
  padding: 0;
}

/* line 100, ../scss/email-inline.scss */
.container-td {
  width: 100%;
  max-width: 600px;
}

/* line 103, ../scss/email-inline.scss */
.container-table {
  width: 600px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

/* ============================================ *
 * Header Styles
 * ============================================ */
/* line 112, ../scss/email-inline.scss */
.top-content {
  border: 25px solid #EFEFEF;
  background-color: #FFF;
  padding: 0px;
}

/* line 117, ../scss/email-inline.scss */
table.logo-container {
  width: 100%;
}

/* line 120, ../scss/email-inline.scss */
td.logo {
  padding: 15px 0px 10px 5px;
}

/* line 123, ../scss/email-inline.scss */
td.logo a {
  float: left;
  display: block;
}

/* line 127, ../scss/email-inline.scss */
td.logo img {
  outline: none;
  text-decoration: none;
}

/* line 131, ../scss/email-inline.scss */
td.email-heading {
  padding: 0 1%;
  background: #E1F0F8;
  border-right: 1px dashed #C3CED4;
  text-align: center;
  width: 58%;
}

/* line 138, ../scss/email-inline.scss */
td.email-heading h1 {
  font-weight: 700;
  font-size: 16px;
  margin: 1em 0;
  line-height: 20px;
}

/* line 145, ../scss/email-inline.scss */
td.email-heading p {
  line-height: 20px;
  margin: 1em 0;
}

/* line 149, ../scss/email-inline.scss */
td.store-info {
  padding: 2%;
  background: #E1F0F8;
  width: 40%;
}

/* line 154, ../scss/email-inline.scss */
td.store-info h4 {
  margin-bottom: 5px;
  font-size: 12px;
}

/* line 158, ../scss/email-inline.scss */
td.store-info p {
  font-size: 12px;
  line-height: 17px;
  margin: 1em 0;
}

/* line 163, ../scss/email-inline.scss */
td.store-info a {
  text-decoration: underline;
  color: #f05a1e;
}

/* ============================================ *
 * Content - Styles
 * ============================================ */
/* line 172, ../scss/email-inline.scss */
td.order-details {
  padding: 5px 15px;
  text-align: center;
}

/* line 176, ../scss/email-inline.scss */
td.order-details h3 {
  font-size: 17px;
  margin-bottom: 10px;
  margin-top: 15px;
  font-weight: normal;
}

/* line 182, ../scss/email-inline.scss */
td.order-details p {
  font-size: 12px;
  margin: 1em 0 15px;
}

/* line 186, ../scss/email-inline.scss */
.items {
  width: 100%;
  padding: 10px 15px;
}

/* line 190, ../scss/email-inline.scss */
.cell-name {
  padding: 10px 15px;
  background: #F1F1F1;
  font-weight: 700;
  text-align: left;
  font-size: 12px;
}

/* line 198, ../scss/email-inline.scss */
.cell-name.align-center {
  text-align: center;
}

/* line 201, ../scss/email-inline.scss */
.cell-name.align-right {
  text-align: right;
}

/* line 204, ../scss/email-inline.scss */
.method-info,
.method-info h6,
.method-info p,
.method-info strong {
  text-align: left;
}

/* line 210, ../scss/email-inline.scss */
.cell-content {
  padding: 10px 15px;
  border-top: 1px solid #e6e6e6;
  font-family: Verdana, Arial;
}

/* line 215, ../scss/email-inline.scss */
.product-info a.product-name {
  font-weight: 700;
  color: #f05a1e;
  text-decoration: none;
  vertical-align: middle;
  float: left;
  width: 100%;
  display: block;
}

/* line 225, ../scss/email-inline.scss */
.table-totals {
  width: 100%;
  background: #E1F0F8;
}

/* line 229, ../scss/email-inline.scss */
.padding-totals {
  padding: 20px 15px;
  text-align: right;
  line-height: 20px;
}

/* line 234, ../scss/email-inline.scss */
.padding-totals .last {
  width: 1px;
  white-space: nowrap;
}

/* line 238, ../scss/email-inline.scss */
.table-totals table {
  width: 100%;
}

/* line 241, ../scss/email-inline.scss */
.shipping {
  padding-bottom: 5px;
}

/* line 244, ../scss/email-inline.scss */
.grand-total {
  border-top: 1px solid #C3CED4;
  padding-top: 5px;
  font-weight: 700;
  font-size: 15px;
}

/* line 250, ../scss/email-inline.scss */
.shipping-information td {
  padding: 0 15px;
}

/* line 253, ../scss/email-inline.scss */
.shipping-information > td > table {
  width: 100%;
}

/* line 256, ../scss/email-inline.scss */
.address-details {
  padding-top: 10px;
}

/* line 259, ../scss/email-inline.scss */
.address-details,
.method-info {
  text-align: left;
  padding: 10px 15px 0;
}

/* line 264, ../scss/email-inline.scss */
.address-details h6,
.method-info h6 {
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 0px;
  margin-top: 5px;
  color: #f05a1e !important;
  text-transform: uppercase;
}

/* line 272, ../scss/email-inline.scss */
.address-details p {
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 15px;
  margin-top: 2px;
}

/* line 278, ../scss/email-inline.scss */
.method-info {
  padding-bottom: 10px;
  width: 40%;
}

/* line 281, ../scss/email-inline.scss */
.method-info p {
  font-size: 12px;
  margin-top: 2px;
  margin-bottom: 30px;
  line-height: 18px;
}

/* line 287, ../scss/email-inline.scss */
.closing-text {
  text-align: center;
  font-size: 22px;
  line-height: 32px;
  font-weight: normal;
  margin-bottom: 75px;
  margin-top: 30px;
}

/* line 295, ../scss/email-inline.scss */
.product-info > p,
.product-info > dl {
  float: left;
  width: 100%;
  display: block;
}

/* line 301, ../scss/email-inline.scss */
.product-info > dl {
  line-height: 20px;
}

/* line 304, ../scss/email-inline.scss */
.action-content {
  padding: 10px 20px 15px;
  line-height: 18px;
}

/* line 308, ../scss/email-inline.scss */
.action-content h1 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 25px;
  margin-top: 5px;
  line-height: 28px;
}

/* line 315, ../scss/email-inline.scss */
.line-separator {
  height: 5px;
}

/* line 318, ../scss/email-inline.scss */
.method-info p, .method-info dl {
  padding: 0;
}

/* ============================================ *
 * Comments and Messages - Styles
 * ============================================ */
/* line 327, ../scss/email-inline.scss */
.message-container {
  margin: 15px 0;
  width: 100%;
  background-color: #FFFDD9;
  border: 1px solid #FFF74C;
}

/* line 333, ../scss/email-inline.scss */
.message-container,
.order-information > td > table,
.top-content > table {
  width: 100%;
}

/* line 338, ../scss/email-inline.scss */
.message-container td {
  padding: 10px 15px;
  margin: 0;
}

/* line 343, ../scss/email-inline.scss */
.highlighted-text {
  border: 1px solid #C3CED4;
  padding: 13px 18px;
  background: #F1F1F1;
}

/* ============================================ *
 * Bundle Products - Styles
 * ============================================ */
/* line 353, ../scss/email-inline.scss */
.bundle-item {
  padding: 0px 15px;
  text-align: left;
}

/* line 357, ../scss/email-inline.scss */
.bundle-item-parent {
  border-top: 1px solid #e6e6e6;
  padding: 10px 15px;
}

/* line 361, ../scss/email-inline.scss */
.bundle-item-parent.product-info {
  text-align: left;
}

/* line 364, ../scss/email-inline.scss */
.bundle-item > div,
.bundle-item > strong {
  float: left;
  width: 100%;
  display: block;
}

/* line 370, ../scss/email-inline.scss */
.bundle-item.bundle-details > div {
  margin-bottom: 15px;
}

/* ============================================ *
 * Buttons - Styles
 * ============================================ */
/* line 378, ../scss/email-inline.scss */
.action-button {
  width: 220px;
  margin: 0 auto;
  text-align: center;
}

/* line 383, ../scss/email-inline.scss */
.action-button td {
  background-color: #f05a1e;
  color: #FFF;
  width: 100%;
  height: 40px;
  display: block;
  border: 0 none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  margin: 0 auto;
}

/* line 396, ../scss/email-inline.scss */
.action-button a {
  width: 100%;
  height: 100%;
  line-height: 40px;
  font-size: 15px;
  display: inline-block;
  text-decoration: none;
}

/* line 404, ../scss/email-inline.scss */
.action-button a span {
  color: #FFF;
}

/* ============================================ *
 * Newsletter - Default Template Styles
 * ============================================ */
/* line 412, ../scss/email-inline.scss */
hr {
  background-color: #D9D9D9;
  border: medium none;
  color: #D9D9D9;
  height: 1px;
  margin-left: 3%;
  width: 94%;
}

/* line 420, ../scss/email-inline.scss */
td.email-heading h1 {
  margin-top: 25px;
}

/* line 423, ../scss/email-inline.scss */
td.store-info h4 {
  font-size: 12px;
  margin-top: 13px;
  font-weight: bold;
}

/* line 428, ../scss/email-inline.scss */
table, table td {
  padding: 0;
  margin: 0;
}

/* line 432, ../scss/email-inline.scss */
table.columns.heading {
  margin-bottom: 3px;
}

/* line 435, ../scss/email-inline.scss */
.main-image {
  width: 100%;
  margin-bottom: 3px;
  margin-top: 5px;
}

/* line 440, ../scss/email-inline.scss */
table.row {
  padding: 0px;
  width: 100%;
  position: relative;
}

/* line 445, ../scss/email-inline.scss */
table.container table.row {
  display: block;
  margin: 5px;
}

/* line 449, ../scss/email-inline.scss */
td.wrapper {
  padding: 10px 0 0;
  position: relative;
}

/* line 453, ../scss/email-inline.scss */
.full {
  width: 100%;
}

/* line 456, ../scss/email-inline.scss */
.half {
  width: 50%;
}

/* line 459, ../scss/email-inline.scss */
.half.left {
  padding-right: 5px;
  padding-left: 10px;
}

/* line 463, ../scss/email-inline.scss */
.half.right {
  padding-left: 5px;
}

/* line 466, ../scss/email-inline.scss */
.columns {
  width: 100%;
}

/* line 469, ../scss/email-inline.scss */
td.expander {
  visibility: hidden;
  width: 0px;
  padding: 0;
}

/* line 474, ../scss/email-inline.scss */
table.button {
  width: 100%;
  overflow: hidden;
}

/* line 478, ../scss/email-inline.scss */
/* table.button td, */
table.social-button td {
  display: block;
  width: auto;
  text-align: center;
  color: #FFF;
  padding: 8px 4%;
  cursor: pointer;
}

/* line 487, ../scss/email-inline.scss */
.social-button {
  width: 94%;
  margin: 5px 3%;
}

/* line 491, ../scss/email-inline.scss */
/* table.button td {
  background: #3696C2;
} */

/* line 494, ../scss/email-inline.scss */
table.social-button td {
  padding: 5px 4%;
}

/* line 497, ../scss/email-inline.scss */
table.button td a,
table.social-button td a {
  color: #FFF;
  /* font-size: 16px; */
  text-decoration: none;
  background-color: #f05a1e;
    border-color: #f05a1e;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    min-width: 180px;
    max-width: 100%;
  padding: 7px 12px;
    font-size: 16px;
    line-height: 1.42857143;
    border-radius: 18px;
}

/* line 504, ../scss/email-inline.scss */
table.social-button td a {
  font-size: 12px;
  font-weight: normal;
}

/* line 508, ../scss/email-inline.scss */
.panel {
  background-color: #F2F2F2;
  border: 1px solid #D9D9D9;
}

/* line 512, ../scss/email-inline.scss */
.panel p {
  margin: 10px;
}

/* line 515, ../scss/email-inline.scss */
.panel h6 {
  font-size: 20px;
  margin: 15px 10px;
}

/* line 519, ../scss/email-inline.scss */
.panel a {
  color: #f05a1e;
  text-decoration: none;
}

/* line 523, ../scss/email-inline.scss */
.sidebar-links table {
  width: 100%;
}

/* line 526, ../scss/email-inline.scss */
.sidebar-links td {
  width: 100%;
}

/* line 529, ../scss/email-inline.scss */
.sidebar-links a {
  margin: 8px 0;
  float: left;
  width: 100%;
  text-align: left;
}

/* line 535, ../scss/email-inline.scss */
.sidebar-links table p {
  margin: 0 10px;
}

/* line 538, ../scss/email-inline.scss */
.sidebar-links a span {
  margin-left: 3%;
}

/* line 541, ../scss/email-inline.scss */
table.facebook td,
table.twitter td,
table.google-plus td,
table.facebook td a,
table.twitter td a,
table.google-plus td a {
  text-align: center;
  height: 17px;
}

/* line 550, ../scss/email-inline.scss */
table.facebook td {
  background: #3B5998;
}

/* line 553, ../scss/email-inline.scss */
table.twitter td {
  background: #00ACEE;
}

/* line 556, ../scss/email-inline.scss */
table.google-plus td {
  background: #DB4A39;
}

/* ============================================ *
 * Product Grid
 * ============================================ */
/* line 564, ../scss/email-inline.scss */
h2.products {
  padding-left: 10px;
  padding-right: 10px;
}

/* line 568, ../scss/email-inline.scss */
.products-grid > tr > td {
  width: 25%;
}

/* line 571, ../scss/email-inline.scss */
.products-grid > tr > td img {
  width: 100%;
  height: auto;
}

/* line 575, ../scss/email-inline.scss */
.products-grid .product-wrapper {
  padding-left: 10px;
  padding-right: 10px;
}

/* line 579, ../scss/email-inline.scss */
.product-name {
  margin: 0 0 5px 0;
  font-style: normal;
  text-rendering: optimizeLegibility;
  line-height: 1.4;
  font-size: 14px;
}

/* line 588, ../scss/email-inline.scss */
p.product-name {
  font-weight: bold;
}

/* line 591, ../scss/email-inline.scss */
p.sku {
  margin: 0 0 5px;
}

/* ============================================ *
 * Product Grid - Price Styles
 * The price styles are copied directly from the _common.scss file
 * ============================================ */
/* line 600, ../scss/email-inline.scss */
.price-box {
  margin: 7px 0;
  font-family: "Metronic Pro", "Noto Sans TC", "Verdana", "Arial Unicode MS", "microsoft jhenghei", "microsoft mhei", stheititc, sans-serif;
}

/* line 605, ../scss/email-inline.scss */
.price-box p {
  margin-bottom: 0;
}

/* line 609, ../scss/email-inline.scss */
.price-notice {
  color: #666666;
}

/* line 613, ../scss/email-inline.scss */
.price-box .price {
  color: #f05a1e;
  font-size: 16px;
}

/* line 618, ../scss/email-inline.scss */
.price-box .price,
.price {
  font-family: "Metronic Pro", "Noto Sans TC", "Verdana", "Arial Unicode MS", "microsoft jhenghei", "microsoft mhei", stheititc, sans-serif;
}

/* line 623, ../scss/email-inline.scss */
.price-box .price-label {
  color: #666666;
  white-space: nowrap;
  font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
}

/* line 629, ../scss/email-inline.scss */
.price-box .minimal-price-link {
  padding-left: 1em;
  color: #f05a1e;
  display: block;
  /* We want this to show on its own line, otherwise the layout looks funky */
}
/* line 634, ../scss/email-inline.scss */
.price-box .minimal-price-link .label {
  color: #666666;
}

/* -------------------------------------------- *
 * Price Box - Special
 */
/* line 643, ../scss/email-inline.scss */
.price-box .old-price,
.price-box .special-price {
  display: inline-block;
}
/* line 647, ../scss/email-inline.scss */
.price-box .old-price .price-label,
.price-box .special-price .price-label {
  display: none;
}
/* line 651, ../scss/email-inline.scss */
.price-box .old-price .price,
.price-box .special-price .price {
  display: inline-block;
}

/* line 657, ../scss/email-inline.scss */
.price-box .old-price .price {
  color: #666666;
  text-decoration: line-through;
}

/* line 663, ../scss/email-inline.scss */
.price-box .special-price {
  color: #f05a1e;
  padding-left: 1em;
}
/* line 667, ../scss/email-inline.scss */
.price-box .special-price .price-label {
  color: #D84D3C;
}

/* -------------------------------------------- *
 * Price Box - Taxes
 */
/* line 676, ../scss/email-inline.scss */
.price-box .price-excluding-tax,
.price-box .price-including-tax {
  display: block;
}

.email-items {
  padding: 10px 15px 0;
  /* width: 100%; */
  vertical-align: top;
  margin: 0;
  /* text-align: left;  */
}
.email-items th, .email-items td.item-info {
    padding: 5px 10px;
}
.email-items .item-info{
    text-align: left;
    vertical-align: middle
}
.email-items .item-info p{
    text-align: left;
}
.email-items .item-qty,
.email-items .item-price{
  text-align: center;
  vertical-align: middle
}
.order-totals th{
    text-align: right;
}
.order-totals td {
    text-align: center;
}