
@font-face {
    font-family: 'Entypo';
    src: url('https://cdnjs.cloudflare.com/ajax/libs/entypo/2.0/entypo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Metronic Pro'; /* 字體名稱 */
    src: url('../fonts/MetronicPro.woff2') format('woff2'),
         url('../fonts/MetronicPro.woff') format('woff');
    font-weight: normal; /* 可以根據字體定義設置 */
    font-style: normal; /* 可以根據字體定義設置 */
}

body{
    font-family: "Metronic Pro", "Noto Sans TC", Verdana, "Arial Unicode MS", "microsoft jhenghei", "microsoft mhei", stheititc, sans-serif;
    color: #000;
}

.sections.nav-sections.ninjamenus-desktop-wrapper{
    display: inline-block;
}

/* @media screen and (min-width: 768px) {
    @media (min-width: 769px), print {
        .navigation {
            background: transparent;
            font-weight: 700;
            height: inherit;
            left: auto;
            overflow: inherit;
            padding: 0;
            position: relative;
            top: 0;
            width: 100%;
            z-index: 3;
        }
    }
} */


.page-title-wrapper {
    text-align: center; /* 將標題居中 */
}

.page-title .base {
    color: #f05a1e; /* 修改顏色為橘色 */
    font-family: 'Arial', sans-serif; /* 修改字體 */
    font-weight: bold; /* 加粗字體 */
}

h1#page-title-heading {
    margin-bottom: 0;
}

.mgz-element-inner {
    text-align: center; /* 水平置中文字 */
}

.mgz-element-inner p {
    font-size: 18px; /* 設置字體大小 */
    margin: 0; /* 去除段落的默認外邊距 */
}







.filter-options-title{
    color: #f05a1e;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
}
.filter-options-title:hover {
    color: #f05a1e;
}
.filter-options-title:after {
    color: #f05a1e;
}
.page-layout-2columns-left .column.main {
    width: 100%;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
}
li.item.mst-nav__label-item._mode-link {
    width: max-content;
    display: inline-block;
}
li.item.mst-nav__label-item._mode-circle {
    display: inline-block;
}
.filter-options-content a {
    background-color: #fff;
    text-decoration: none;
    border: 1px solid #ccc;
    border-radius: 40px;
    color: #333;
    background-color: #fff;
    transition: all .3s;
}
.filter-options-content a:hover {
    border-color: #f05a1e;
    border-radius: 40px;
    color: #f05a1e;
    background-color: #fff;
    transition: all .3s;
}
.mst-nav__label .mst-nav__label-item._highlight a {
    color: #f05a1e;
    border-color: #f05a1e;
}

.mst-nav__label .mst-nav__label-item {
    margin-right: 20px !important;
}
.mst-nav__label .mst-nav__label-item a label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 15px;
}
.page-products .products-grid .product-item {
    width: 100%;
}
.products-list .product-item-photo {
    display: table-cell;
    padding: 0;
    vertical-align: middle;
    width: 50%;
    text-align: center;
}
.products.list.items.product-items > li:nth-child(n+2) {
    border-top: 1px solid #ccc;
    padding-top: 40px;
}
li.item.product.product-item {
    padding: 25px;
}
.product.description.product-item-description {
    font-size: 16px;
    font-weight: 500;
}
.product.description.product-item-description ul {
    list-style-type: disc; /* 使用實心圓點 */
    padding-left: 20px;    /* 確保圓點與文字間有適當間距 */
    margin-bottom: 25px;
    margin-top: 5px;
}
a.action.more {
    border: 1px solid #f05a1e;
    color: #f05a1e;
    padding: 10px 50px;
    border-radius: 40px;
    line-height: 40px;
    text-decoration: none; /* 預設移除底線 */
    transition: all 0.3s ease; /* 添加過渡效果 */
}
a.action.more:hover {
    color: #fff;
    background-color: #f05a1e;
    text-decoration: none; /* 確保 hover 時也移除底線 */
}
.row {
    white-space: nowrap; /* 確保子項目不會折行 */
}

.row > .product {
    display: inline-block; /* 讓子項目自然排列 */
    vertical-align: top;  /* 垂直對齊方式，可依需求調整 */
    margin-right: 10px;   /* 元素間的間距 */
}

.row > .product:last-child {
    margin-right: 0; /* 移除最後一個元素的右邊距 */
}



.product-item-name, .product.name a {
    font-weight: 700;
}
.product-item-name:hover {
    color: #f05a1e;
    text-decoration: none;
}
a.product-item-link:hover {
    color: #f05a1e;
    text-decoration: none;
}
.product-item-actions .actions-secondary > .action span {
    position: relative;
    top: 1px;
    left: 5px;
    font-size: 16px;
}
.product-item .action.towishlist{
    display: none;
}
.product-item .tocompare:before {
    content: '\229e';
}
.product-item-actions .actions-secondary > .action:before{
    overflow: visible;
    font-size: 22px;
    line-height: 22px;
    vertical-align: text-bottom;
}
.product-item-actions .actions-secondary > .action{
    color: #676157;
    text-decoration: none;
    letter-spacing: 0;
    text-transform: none;
    line-height: 40px;
}
.product-item-actions .actions-secondary > .action:hover{
    color: #9b9489;
    text-decoration: none;
}
.products-list .product-shop .desc be{
    margin-top: 21px;
}

@media only screen and (min-width: 760px) {
    .product-item-name {
        font-size: 32px;
    }
}